/* <style> */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 33);
  font-family: "Roboto", sans-serif;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(19, 19, 62);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(151, 151, 233);
  font-size: 1.06rem;
}

main hr {
  width: 90%;
  margin: 0 0 0 60px;
}

.left {
  font-size: 1.367rem;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 0 30px;
}

.first > div {
  width: 30%;
}

.leftsection {
  /* background-color: red; */
  font-size: 2.5rem;
  /* margin: 30px 0; */
}
.leftsection .buttons {
  padding: 50px 0;
}
.leftsection .btn {
  padding: 12px;
  background-color: rgb(0, 15, 128);
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
}

.rightsection img {
  width: 120%;
  height: 95%;
  margin: 25px 0;
}

.purple {
  color: rgb(73, 0, 112);
}

#element {
  color: rgb(119, 119, 199);
}

.second {
  max-width: 80vw;
  margin: 40px 0 0 60px;
  height: 80vh;
}

.second h1 {
  font-size: 1.9rem;
  margin: 10px 0;
}
.text-gray {
  color: gray;
}

.second .box {
  background: white;
  width: 79vw;
  height: 2px;
  margin: 56px 0 56px 55px;
  display: flex;
}
.second .vertical {
  height: 60px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}

.second .second-image {
  width: 30px;
  position: relative;
  top: -32px;
  left: -35px;
}
.vertical-title {
  position: relative;
  top: 40px;
  width: 150px;
}
.vertical-desc {
  font-size: 8px;
  position: relative;
  top: 50px;
  width: 150px;
}
footer {
  margin: 20px 0 0 0;
  background-color: rgb(89, 4, 158);
  height: 250px;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 233px;
  margin: 0 0 0 40px;
}
footer .footer-rights {
  text-align: center;
  color: grey;
  margin: 50px 0;
}
/* </style> */
